@import "tailwindcss";
@plugin "daisyui";

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #03943b transparent;
}

/* WebKit Browsers (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  height: 2px; /* for horizontal scrollbar */
  scrollbar-color: #03943b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #03943b; /* scrollbar thumb color */
  border-radius: 20px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
